title = "Pentest commands"

max_events = 100

[command.ping0]
name_exe = "ping"
help = "[-h]"
verbose = "[-v]"
dest = "<destination>"
examples = [
    "ping -v 127.0.0.1"
]

[command.cat0]
name_exe = "cat"
help = "[-h]"
file = "<file>"
examples = [
    "cat test.txt"
]

[command.nmap0]
name_exe = "nmap"
help = "[-h]"
destination = "<destination>"
scan_sv = "[-sV]"
scan_ss = "[-sS]"
scan_no_ping = "[-Pn]"
scan_all_ports = "[-p-]"
output_file = "[-oN <output_file>]"
examples = [
    "nmap -sV -sS -Pn -p- -oN scan.nmap 127.0.0.1"
]
