title = "Pentest commands"

# Basic configurations
max_events = 100
destination = "127.0.0.1"


# ============================
#         ALL COMMANDS 
# ============================

# ===== NETWORK COMMANDS =====



# ===== SYSADMIN COMMANDS =====



# ===== PENTEST COMMANDS =====
[command.nmap0]
name_exe = "nmap"
cmd_types = "pentest|network"
explanation = "Scanning all ports with SYN scan and saving in file"
args = "-sV -sS -Pn -p- -oN <output_file|scan.txt> <destination|127.0.0.1>"
examples = [
    "nmap -sV -sS -Pn -p- -oN scan.nmap 127.0.0.1"
]
[command.nmap1]
name_exe = "nmap"
cmd_types = "pentest"
explanation = "Version -sV, default script -sC"
args = "-sC -sV <ip|127.0.0.1>"
examples = [
    "nmap -sC -sV 127.0.0.1"
]
[command.ffuf0]
name_exe = "ffuf"
cmd_types = "pentest"
explanation = "Bruteforce subdomain"
args = "-w <list_path|file.txt:FHOST> -u <url|http://localhost/> -H <header|'Host:FHOST.localhost'> -t 100"
examples = [
    "ffuf -w '/opt/SecLists/Discovery/DNS/subdomains-top1million-5000.txt:FHOST' -u 'http://localhost/' -H 'Host:FHOST.localhost' -t 100"
]
[command.sqlmap0]
name_exe = "sqlmap"
cmd_types = "pentest"
explanation = "SQL injection of username/password"
args = "-u <url|'http://127.0.0.1/login'> --data <data|'username=admin&password=password'>"
examples = [
    "sqlmap -u 'http://searcher.htb/search' --data 'username=admin&password=password'"
]


# ===== REVERSE COMMANDS =====
[command.objdump0]
name_exe = "objdump"
cmd_types = "reverse"
explanation = "Display information from the binary in <type> format"
args = "-D <binary> -M <type|intel>"
examples = [
    "obdjump -M intel -D bin",
    "objdump -dj .rodata loop -M intel"
]
