title = "Pentest commands"

max_events = 100

[command.ping0]
name_exe = "ping"
cmd_type = "network"
verbose = "-v"
dest = "<destination>"
examples = [
    "ping -v 127.0.0.1"
]

[command.nmap0]
name_exe = "nmap"
cmd_type = "pentest"
explanation = "Scanning: version, SYN scan, no ping, all ports, save to file"
scan_sv = "-sV"
scan_ss = "-sS"
scan_no_ping = "-Pn"
scan_all_ports = "-p-"
output_file = "-oN <output_file>"
destination = "<destination>"
examples = [
    "nmap -sV -sS -Pn -p- -oN scan.nmap 127.0.0.1"
]

[command.objdump0]
name_exe = "objdump"
cmd_type = "reverse"
binary = "-D <binary>"
type = "[-M <type>]"
examples = [
    "obdjump -M intel -D bin",
    "obdjump -M intel -D bin | grep -A20 main"
]