title = "Pentest commands"

max_events = 100
destination = "127.0.0.1"

[command.ping0]
name_exe = "ping"
cmd_type = "network"
args = "-v <destination>"
examples = [
    "ping -v 127.0.0.1"
]

[command.ls0]
name_exe = "ls"
cmd_type = "sysadmin"

[command.nmap0]
name_exe = "nmap"
cmd_type = "pentest"
explanation = "Version -sV, SYN scan -sS, no ping -Pn, all ports -p-, save to file -oN <file>"
args = "-sV -sS -Pn -p- -oN <output_file=scan.txt> <destination=127.0.0.1>"
examples = [
    "nmap -sV -sS -Pn -p- -oN scan.nmap 127.0.0.1"
]

[command.nmap1]
name_exe = "nmap"
cmd_type = "pentest"
explanation = "Version -sV, default script -sC"
args = "-sC -sV <ip=127.0.0.1>"
examples = [
    "nmap -sC -sV 127.0.0.1"
]

[command.objdump0]
name_exe = "objdump"
cmd_type = "reverse"
explanation = "Display information from object <binary> in <type> format"
args = "-D <binary> -M <type=intel>"
examples = [
    "obdjump -M intel -D bin",
    "obdjump -M intel -D bin | grep -A20 main",
    "objdump -dj .rodata loop -M intel"
]
